---
- name: Configure web servers and verify RDS connectivity
  hosts: web
  become: true

  vars:
    app_repo_url: "https://github.com/YOUR_GITHUB_USERNAME/YOUR_REPO.git"
    app_branch: "main"

    rds_endpoint: "YOUR_RDS_ENDPOINT_HOST"
    db_name: "appdb"
    db_user: "admin"
    db_password: "StrongPassw0rd!"
    web_root: "/var/www/html"

  tasks:
    - name: Install Apache, PHP, Git and MySQL client
      yum:
        name:
          - httpd
          - php
          - php-mysqlnd
          - git
          - mysql
          - python3
          - python3-pip
        state: present

    - name: Install Python MySQL driver
      pip:
        name: pymysql

    - name: Start and enable Apache
      service:
        name: httpd
        state: started
        enabled: true

    - name: Deploy application from GitHub
      git:
        repo: "{{ app_repo_url }}"
        dest: "{{ web_root }}"
        version: "{{ app_branch }}"
        force: yes

    - name: Deploy db_check.php
      template:
        src: "../templates/db_check.php.j2"
        dest: "{{ web_root }}/db_check.php"
        mode: "0644"

    - name: Verify database connectivity
      shell: |
        mysql -h {{ rds_endpoint }} -u {{ db_user }} -p'{{ db_password }}' -e "SELECT 1;" {{ db_name }}
      register: db_test
      changed_when: false

    - debug:
        msg: "Database connectivity successful"
      when: db_test.rc == 0
