<?php
$host = "{{ rds_endpoint }}";
$user = "{{ db_user }}";
$pass = "{{ db_password }}";
$db   = "{{ db_name }}";

$conn = new mysqli($host, $user, $pass, $db);

if ($conn->connect_error) {
  echo "Database Connection Failed";
} else {
  echo "Database Connected Successfully";
}
$conn->close();
?>
